<script type="text/html" id="tmplAbout">
    <h2>ABOUT</h2>

    <p>RVAMakes was built by you, RVA, in an attempt to collect all the creative powers in Richmond, Virginia.</p>

    <p>This site was inspired by <a href="http://prtlnd.com" target="_blank">PRTLND</a>. Thanks to
        <a href="http://welovejeff.com" target="_blank">Jeff
            MacDonald</a>, who planted the seed about borrowing the idea.</p>

    <p>If you make stuff and you live in Richmond, you should <a href="#/entry">add yourself.</a></p>

    <p>Follow us for updates and let us know what features we should add.<a href="http://twitter.com/rvamakes" target="_blank">@RVAMAKES</a></p>
    
    <p>Know how to code? Help us make this site on <a href="https://github.com/flatanimals/rvamakes" target="_blank">GitHib</a></p>

    <p>
        <strong>Contributors</strong>
    </p>

    <ul class="contributors">
        <li class="diamond"><a href="http://twitter.com/flatanimals" target="_blank">Fletch Padgett</a></li>
        <li class="heart"><a href="http://twitter.com/welovejeff" target="_blank">Jeff MacDonald</a></li>
        <li class="club"><a href="http://twitter.com/individual11" target="_blank">David Vogeleer</a></li>
        <li class="spade"><a href="http://twitter.com/koolyp" target="_blank">Kevin Power</a></li>
    </ul>
    
	<p>Site Finished and Published Live on Saturday June 22nd 2013 at the <a href="2013.rvahackathon.com" target="_blank">2013 RVA Hackathon.</a></p>
</script>